@import '~antd/dist/antd.css';
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.link {
    display: block;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: url('./img/logo.png');
}

.loginout {
    margin: 0 30px;
}